
<%= form_for @que.services.new, url: {action: "create"}, local: true do |form| %>
  <p>
    <%= form.label :"Service name" %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :"Description" %><br>
    <%= form.text_area :description %>
  </p>
  
 
  <p>
    <%= form.submit %>
  </p>
<% end %>