This Queue has
<h3><%=@que.name%>, <%=@que.email%>, <%=@que.location%>, <%=@que.img%></h3>

<% @que.services.each do |service|%>
    <%= service.name %>
    <br>
<% end %>
<br>

<%= link_to "Delete Que", que_path(@que), method: :delete%>
<%= link_to "Edit Que", edit_que_path(@que)%>


