<!DOCTYPE html>
<html>
  <head>
    <title>QMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# Devise alert %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="nav">
      <%if manager_signed_in?%>
      <%= "Hello #{current_manager.email}"%>
      <%= link_to "Ques", ques_path%>|
      <%= link_to "Edit user", edit_manager_registration_path%>|
      <%= link_to "Sign out", destroy_manager_session_path, method: :delete%>|
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
